// exposed vars style scss
@use '../abstracts/' as *;


.highlight {
    background-color: var(--highlights-bg);
    color: var(--highlights-color);
    padding: 0.2rem 0.35rem;
    border-radius: 0.3rem;
}