// hover zoom
.hover-zoom {
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}


// shake animation on hover
.shake:hover {
    animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }
}