// rules globals on the project fotn seize whit media query
html {
    box-sizing: border-box;
    font-size: 16px; // base font-size adjusted whit rem em

    @media screen and (max-width: $breakpoint-lg) {
        font-size: 15px;
    }

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 14px;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

// ---------------------------------

body {
    height: 100%;
    width: 100%;
    position: relative;
    color: $color-gray-300;
    background-color: black; // repalce the canvas animate until will appear
    font-family: $font-family-base;
    font-weight: $font-weight-regular;
    line-height: 1.7;
}

.highlight {
    color: $color-gray-100;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 0.2rem 0.35rem;
    border-radius: 0.3rem;
}