// exposed vars style scss
@use '../abstracts/' as *;

//  ---------------------------------------------------------
// shake animation on hover ---------------------------------
//  ---------------------------------------------------------
.shake:hover {
    animation: shake 0.5s ease-in-out infinite;
}

/* shake animation keyframes */
@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(1px);
    }

    75% {
        transform: translateX(-1px);
    }
}

//  ---------------------------------------------------------
/* spin animation keyframes --------------------------------- */
//  ---------------------------------------------------------
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

//  ---------------------------------------------------------
/* change color animation ----------------------------------- */
//  ---------------------------------------------------------
@keyframes changeBorder {
    0% {
        background-image: conic-gradient(blue, rgb(149, 175, 254), transparent 50%);
    }

    50% {
        background-image: conic-gradient(rgb(149, 175, 254), rgb(11, 9, 82), transparent 50%);
    }

    100% {
        background-image: conic-gradient(blue, rgb(149, 175, 254), transparent 50%);
    }
}